.about-us {
  width: 1169px;
  height: 498px;
  margin: auto;
  /* border: 1px solid red; */
}

.about-us__h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  margin: 15px 0 5px 0;

  color: #333333;
}

.about-us__h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 22px;

  color: #333333;
}

.about-us__h2 span {
  color: #f1ad1d;
}

.about-us__p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  margin: 0 0 107.5px 0;

  color: #4d4943;
}

.about-us__container {
  display: flex;
  justify-content: space-between;
}

.about-us__photo {
  display: grid;
  width: fit-content;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 22px;
  grid-column-gap: 30px;
}

#consulting {
  background: url(../img/Layer-23.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 270px;
  height: 148px;
  box-sizing: border-box;
  padding: 90px 0 0 15px;
}

#photography {
  background: url(../img/Layer-24.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 270px;
  height: 148px;
  box-sizing: border-box;
  padding: 90px 0 0 15px;
}

#web-design {
  background: url(../img/Layer-25.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 270px;
  height: 148px;
  box-sizing: border-box;
  padding: 90px 0 0 15px;
}

#advertising {
  background: url(../img/Layer-26.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 270px;
  height: 148px;
  box-sizing: border-box;
  padding: 90px 0 0 15px;
}

.about-us__photo div {
  width: 117px;
  height: 42px;
  left: 13px;
  top: 95px;
  padding: 12px 0 14px 17px;

  background: #333333;
  box-sizing: border-box;
}

.about-us__photo a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-decoration: none;
}

.about-us__content {
  width: 100%;
  margin-left: 30px;
}

.about-us__content p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #505050;
}

.about-us__content p:nth-child(2) {
  margin-bottom: 15px;
}

.about-us__button {
  width: 176px;
  height: 52px;
  border: none;
  margin: 36px 0 0 0;
  background: #f1ad1d;
}

.about-us__button a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
}
